*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    scroll-behavior: smooth;
}

section{

    width: 100%;
    min-height: 105vh;
    display: flex;
    justify-content: center;
    
}

h1{
    font-size: 5rem;
    line-height: 2;
    font-family: 'Silkscreen', cursive;
    font-weight: bold;

}

h2{
    font-size: 2.2rem;
}

h3{
    font-size: 1.5rem;

}
img{
    width: 400px;
    margin-bottom: 50px;
    border: 12px solid black;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}

form{
    line-height: 2;
    font-size: 1rem;
    
}
i{
    font-size: 1.75rem;
    margin: 0 10px 10px 10px;
}
/* Navbar */
nav{
    height: 64px;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10; /* Makes the Nav bar a higher priority that the image. (The nav bar goes over the images when sliding up or down*/

}
nav ul{
    display: flex;
    list-style: none;

}
nav ul li{
    margin: 30px;
}

#title {
    font-size: 1.8rem;
    font-family: 'Silkscreen', cursive;
    
}

/* Home Section */

.home{
    background-color: rgb(226, 238, 181);
}

.home div{
    transform: translateY(64px);
    margin: 5%;
}

/* About Section */

.about div {
    margin: 8%;
}

/* Activities */

.activities{
    display: block;
    background-color: rgb(173, 214, 245);
    padding: 50px 0 100px 0;
    text-align: center;
}

.activitiesContain{
    display: flex;
    margin: 0 8%;
    justify-content: space-between;
    
}

.activitiesContain p {
    padding: 0 8%;

}

/* .activitiesContain img{

} */

.activities a{
    color: black;
}

.activities a:hover{
    color: red;
}

/*  Below turns our activities photos into circles by cutting off corners*/
/* .activitiesContain img {
    width: 300px;
    height: 300px;
border-radius: 50%;   
} */


/* Contact section */

.contact{
    justify-content: center;
    background-color: rgb(239, 107, 107);
}

.contact div{
    margin: 5%;
}

/* Footer section */

footer{
    height: 125px;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 25px;
    text-align: center;

}
